@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background: #0f0f13;
  color: #e2e2f0;
  font-family: var(--font-sans);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #16161f;
}

::-webkit-scrollbar-thumb {
  background: #2a2a3a;
  border-radius: 99px;
}